body {
	font-family: Futara;
	line-height: 1.1;
	margin: 0;
	padding-left: 80px;
	background-image: url("../Images/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #fff;
	}
header {
	background: #fff;
	color: #000;
	margin: 0.5rem;
	padding-left: 20px;
	}
header p {
	margin: 0.5rem;
	background: #fff;
	color: #000;
	padding-left: 20px;
	}
main {
	max-width: 900px;
	margin: 2rem auto;
	padding: 0 1rem;
	line-height: 1;
	}
.entrada {
	background: #fff;
	color: #000;
	max-width: 800px;
	padding: 1.5rem;
	margin-bottom: 2rem;
	border-radius: 8px;
	}
.ModInfo {
	display: grid;
	grid-template-columns: 2fr 1fr;
	padding: 10px;
	max-width: 1300px;
	align-items: start;
	}
.ModText {
	background: #fff;
	color: #000;
	max-width: 850px;
	max-height: auto;
	border: 3px solid #c600ff;
	margin: 50px;
	padding: 30px;
	}
.ModCover {
	background: #fff;
	color: #000;
	max-width: 450px;
	border: 3px solid #c600ff;
	margin: 10px;
	padding: 10px;
	border-radius: 8px;
	}
.ModCover p {
	background: #c298cf;
	color: #000;
	max-width: 450px;
	margin: 5px;
	padding: 10px;
	}