body {
	font-family: Futara;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	background-image: url(".../Images/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #fff;
	}
header {
	background: #fff;
	color: #000;
	margin: 1rem;
	padding: 0;
	}
header p {
	margin: 0.5rem;
	background: #fff;
	color: #000;
	font-style: Futara;
	}
main {
	max-width: 800px;
	margin: 2rem auto;
	padding: 0 1rem;
	line-height: 1;
	}
.entrada {
	background: #fff;
	color: #000;
	padding: 1.5rem;
	margin-bottom: 2rem;
	border radius: 8px;
	}